nav.nav
  a(href="#home").logo
    img(src="", alt="Site logo")
  ul.menu
    li.menu-item: a(href="#features").menu-link Features
    li.menu-item: a(href="#faqs").menu-link FAQs
    li.menu-item: a(href="#contact").menu-link Contact
  button#login-button.button Login
