section.section.text-and-image-box
  img(src="", alt="")
  .text-block
    h1.title A Simple Book Manager
    p.paragraph.
      A clean and simple interface to organize your favourite websites. Open a new
      browser tab and see your sites load instantly. Try it for free.
    .buttons-box
      button.button.is-primary Get it on Chrome
      button.button.is-light Get it on Chrome
